<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Ex00: Markdown Cheatsheet.</title>
  </head>
  <body>
    <p>
      Markdown[9] is a lightweight markup language for creating formatted text
      using a plain-text editor. John Gruber and Aaron Swartz created Markdown
      in 2004 as a markup language that is appealing to human readers in its
      source code form.[9] Markdown is widely used in blogging, instant
      messaging, online forums, collaborative software, documentation pages, and
      readme files.
    </p>
  </body>
</html>
